<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>Aprendiendo el uso de la fuerza</h1>
<p>Cuestionario del texto "Aprendiendo el uso de la fuerza" dado por el profesor.</p>

<ol id="q">
	<li>
		<!-- 1 -->
		<strong>Indica y define las fuerzas a las que son sometidas las células en los tejidos multicelulares.</strong>
		<p>La fuerza de la que se habla en el texto es la mecánica, una fuerza física que desde el entorno externo afecta a la célula a través de la membrana celular. En estas, se habla de la compresión, resultante de tensiones o presiones en un sólido deformable; tracción, dos fuerzas opuestas que tienden a estirar un cuerpo; tensión de cizallamiento de fluido, donde el flujo sanguíneo ejerce una fuerza en la pared vascular; y la presión hidrostática, una fuerza hacia fuera perpendicular a la superficie que contiene un líquido.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Cuáles son los componentes subcelulares que participan del proceso de mecanotransducción?</strong>
		<p>Aquellos principales que perciben las fuerzas y transducen las señales a la célula son los mecanosensores, proteínas que forman las uniones intercelulares, canales iónicos, proteínas de adhesión, integrinas, membrana celular e incluso el propio citoesqueleto. También el citoesqueleto puede ser un mecanotransmisor cuando la célula responde a fuerzas lentas que alcanzan el núcleo.
	</li>

	<!-- 3 -->
	<li>
		<strong>¿Qué es la homeostasis tensional?</strong>
		<p>Una red mecano-reguladora que integra señales físicas y bioquímicas del tejido ambiental a través de mecano-respuestas de elementos como las integrinas en la transmembrana para evocar reorganización citoesquelética y contracción de actomiosina (Inkyung Kang, Valerie Weaver, 2017)
	</li>

	<!-- 4 -->
	<li>
		<strong>¿En qué se diferencian los procesos de mecanotransducción de tipo mecanoeléctricos de los mecanoquímicos?</strong>
		<p>Los procesos mecanoeléctricos se dan cuando el estímulo llega a células con canales iónicos de voltaje activado y el estímulo pasa a través de la membrana, mientras que en los mecanoquímicos las fuerzas aplicadas a la célula activan receptores como integrinas y caderinas que proporcionan adhesión celular a la matriz extracelular y/o entre células vecinas.
	</li>
</ol>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
