<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>Bioelementos</h1>

<ol id="q">
	<!-- 1 -->
	<li>
		<strong>¿Qué característica debe poseer un elemento químico para ser considerado bioelemento?</strong>
		<p>Cualquier elemento químico que contenga elementos orgánicos, aquellos encontrados en organismos vivos. Ejemplos incluyen el carbono, hidrógeno, oxígeno, fósforo o nitrógeno, entre otros. Existen categorías ya estipuladas para separar los diferentes tipos de bioelementos: primarios, secundarios y oligoelementos.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Qué diferencia existe entre los bioelementos primarios y secundarios?</strong>
		<p>Los bioelementos primarios son los que se encuentran en mayor proporción en la materia viva: constituyen el 95% de la masa total y son indispensables para formar las biomoléculas (Los Bioelementos básicos de la vida, Eduardo García Flores, 2014). Los principales son cuatro: carbono, oxígeno, hidrógeno y nitrógeno, y conforman gran parte de las biomoléculas orgánicas (proteínas, carbohidratos, lípidos y ácidos nucleicos). Son abundantes y livianos.
		<p>Los bioelementos secundarios se encuentran en cantidades mucho menores (<5%), pero aún presentes en todos los seres vivos. Cumplen funciones vitales para el funcionamiento correcto del organismo. El grupo es conformado por azufre, fósforo, magnesio, calcio, sodio, potasio y cloro.
		<p>Ambos son igualmente importantes, independiente de la proporción desmedida que el grupo primario presenta ante la secundaria, ya que los procesos biológicos dependen de ambos para funcionar.
	</li>

	<!-- 3 -->
	<li>
		<strong>Señale las funciones generales de tres oligoelementos</strong>
		<p>El zinc tiene múltiples funciones: es un catalizador en síntesis de proteínas, lípidos y carbohidratos, interfiere en la salud de los huesos y funciones cognitivas como la eficiencia de los sentidos, tiene alto efecto en el desarrollo del sistema nervioso central, en la salud de la piel, cabello y uñas, también en la producción de células defensoras del sistema inmunológico y regula las alteraciones hormonales.
		<p>El cobre presenta diversas funciones como catalizador enzimático, ayudar en la síntesis de hemoglobina, proteínas, prostaglandinas y elastina, además de poseer funciones cerebrales como activador de neurotransmisores, antioxidante y ayuda en la formación de anticuerpos.
		<p>El magnesio es otro oligoelemento de múltiples funciones, actúa en el sistema nervioso y en su principal músculo, el cerebro; aumenta las defensas en el sistema inmunológico y es anti radicales libres (los radicales libres son moléculas dañadas a las que les falta un electrón y esto las hace ser nocivas debido a que dañan la célula por tratar de completarse, estos son producto de la oxidación) al igual que el zinc y el cobre, también ayuda a regular la diabetes, y cumple funciones anti inflamatorias (prostaglandinas), participa en la acción de biotina, tiroxina y vitamina B1, B2, C, E y B12.
	</li>

	<!-- 4 -->
	<li>
		<strong>En la tabla siguiente se presentan las proporciones en las que se encuentran los distintos elementos en los seres vivos y en los seres inertes (atmósfera, hidrosfera y litosfera)</strong>

		<table class="compact numeric">
			<thead>
				<tr>
					<td>Elemento</td>
					<td>Sistema inorgánico (%)</td>
					<td>Sistema orgánico (%)</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Al</td>
					<td>7,30</td>
					<td>0,002</td>
				</tr>
				<tr>
					<td>C</td>
					<td>0,18</td>
					<td>15,350</td>
				</tr>
				<tr>
					<td>Ca</td>
					<td>3,20</td>
					<td>0,980</td>
				</tr>
				<tr>
					<td>Cl</td>
					<td>0,20</td>
					<td>1,125</td>
				</tr>
				<tr>
					<td>F</td>
					<td>0,10</td>
					<td>0,004</td>
				</tr>
				<tr>
					<td>Fe</td>
					<td>4,18</td>
					<td>0,004</td>
				</tr>
				<tr>
					<td>H</td>
					<td>0,95</td>
					<td>9,010</td>
				</tr>
				<tr>
					<td>K</td>
					<td>2,28</td>
					<td>0,223</td>
				</tr>
				<tr>
					<td>Mg</td>
					<td>2,08</td>
					<td>0,060</td>
				</tr>
				<tr>
					<td>Mn</td>
					<td>0,08</td>
					<td>0,0002</td>
				</tr>
				<tr>
					<td>N</td>
					<td>0,03</td>
					<td>2,980</td>
				</tr>
				<tr>
					<td>Na</td>
					<td>2,36</td>
					<td>0,130</td>
				</tr>
				<tr>
					<td>O</td>
					<td>48,10</td>
					<td>70,200</td>
				</tr>
				<tr>
					<td>P</td>
					<td>0,11</td>
					<td>0,570</td>
				</tr>
				<tr>
					<td>S</td>
					<td>0,11</td>
					<td>0,370</td>
				</tr>
				<tr>
					<td>Si</td>
					<td>25,80</td>
					<td>0,006</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<strong>Grafica los datos de la tabla utilizando el sistema gráfico que permita resaltar las diferencias</strong>
			</li>

			<li>
				<strong>Indica los 4 elementos predominantes en cada uno de los sistemas</strong>
				<p>Sistemas inorgánicos: oxígeno (48.10%), silicio (25.80%), aluminio (7.30%), hierro (4.18%).
				<p>Sistemas orgánicos: oxígeno (70.20%), carbono (15.35%), hidrógeno (9.01%), nitrógeno (2.98%).
			</li>

			<li>
				<strong>Explica las causas de la abundancia de estos cuatro elementos</strong>
				<p>La abundancia del oxígeno, nitrógeno e hidrógeno se debe al proceso de fusión nuclear en las estrellas del universo, haciendo que sean uno de los elementos más recurrentes en todas partes del universo. Se puede explicar la abundancia de estos tres además del resto de los elementos propuestos en el ejercicio por la clasificación de Goldschmidt: casi todos los elementos predominantes son litófilos, es decir, se mantienen o se forman cerca de la superficie del planeta y reaccionan fácilmente con oxígeno, formando compuestos que no se hunden en la corteza del planeta. La mayoría de estos elementos forman configuraciones estables con gases nobles, y los pocos que no lo logran forman enlaces covalentes extremadamente fuertes con el oxígeno, como es el caso con el carbono y el silicio, el carbono siendo esencial en la construcción de los elementos de los seres vivos.
			</li>

			<li>
				<strong>¿Qué conclusiones puedes obtener de estos datos?</strong>
				<p>no sé
			</li>
		</ul>
	</li>

	<!-- 5 -->
	<li>
		<strong>Diferentes seres vivos presentan composiciones elementales similares. ¿Qué significado tiene este grado de uniformidad?</strong>
		<p>Puede ser porque todos los seres vivos están constituidos por células, que a su vez tienen un ancestro común. Pueden tener diferencias y funciones diferentes, pero la estructura celular sigue teniendo un parentesco entre todas, como las capas lipídicas, proteínas, sales minerales y agua en común, independiente de su forma o función. Otro hecho puede ser que todos hacen lo mismo: se alimentan, se relacionan con el medio (y otros seres vivos), se reproducen y mueren.
	</li>

	<!-- 6 -->
	<li>
		<strong>El titular de un periódico señala: <em>"3 personas sufren intoxicación aguda por Zinc como consecuencia del consumo (por varios días) de alimentos o bebidas contaminadas en contacto con recipientes galvanizados"</em>. ¿Puede deducirse de esta información que el Zinc es tóxico para nuestro organismo? ¿De qué depende su toxicidad?</strong>
		<p>Se puede entender que el zinc es tóxico para nuestro organismo, pero esta hipótesis no es del todo cierta. Al ser un oligoelemento, es necesario tenerlo para diversos funcionamientos en el cuerpo humano, pero lo que sí se puede afirmar con certeza es que es necesario sólo en pequeñas cantidades, porque al ingerir una dosis muy alta puede llevar a la intoxicación, como ocurrió en el incidente mencionado. La ingesta de zinc varía según la edad y el estado de una persona: la dosis recomendada para lactantes es de 5 mg, en niños y adolescentes es 10 mg, mujeres 12 mg y hombres 15 mg. El zinc es tóxico cuando se consumen más de 100 mg diarios y produce trastornos digestivos, intestinales o hepáticos.
	</li>

	<!-- 7 -->
	<li>
		<strong>¿Es correcto afirmar que la cantidad en la que se encuentra un bioelemento en el organismo refleja su importancia biológica? Cita algún ejemplo que demuestre tu respuesta.</strong>
		<p>No, no es correcto. A pesar de su baja concentración, hay oligoelementos esenciales para varios procesos y funciones biológicas, desmintiendo la relación entre abundancia e importancia.
		<p>Un ejemplo de un oligoelemento es el hierro, un 0.006% del cuerpo humano (Theodore Gray, s.f.), encargado de funciones críticas como formar el grupo hemo en hemoglobina para transportar oxígeno y dióxido de carbono; formar el grupo hemo en la mioglobina, encargada de almacenar oxígeno en los músculos, esencial en partes como los músculos esqueléticos o cardiacos que necesitan mucho oxígeno; y dentro de las mitocondrias, donde el hierro es parte de muchas enzimas necesarias para la cadena de transporte de electrones (Ivan Vitoria, 2015).
	</li>

	<!-- 8 -->
	<li>
		<strong>¿Qué diferencia existe entre el fósforo y el fosfato? Represente químicamente cada componente y destaque si alguno presenta funciones en los seres vivos.</strong>
		<p>El fósforo es un elemento químico altamente reactivo, su símbolo químico es P y tiene un peso atómico de 30.97 gramos/mol. El fosfato es la forma molecular más común del fósforo, se presenta como un fósforo rodeado por 4 átomos de oxígeno en forma tetraédrica (PO<sub>4</sub>) y forma parte de los nucleótidos, que son los monómeros en los que se basa la composición del ADN y demás ácidos nucleicos. También hay fosfato en la composición de algunos lípidos que forman membranas, tales como los fosfoglicéridos, de su elevada constante de ionización contribuye a la carga eléctrica de la cabeza hidrófila.
		<p>El fosfato está presente en grandes cantidades, pero el fósforo es tóxico si este no está rodeado o estabilizado por oxígenos.
	</li>

	<!-- 9 -->
	<li>
		<strong>Indica si son verdaderas o no las siguientes afirmaciones</strong>
		<ul>
			<li>
				<strong>Las sales minerales aportan energía a la célula.</strong>
				<p>Falso. La energía de la célula origina en el metabolismo celular a partir de varias biomoléculas.
			</li>
			<li>
				<strong>Las sales en solución están disociadas en iones.</strong>
				<p>Verdadero. Se debe a la capacidad de solvatación iónica (proceso de formación de interacciones atractivas entre moléculas de un disolvente con moléculas o iones de un soluto) del agua.
			</li>
			<li>
				<strong>Las sales minerales realizan una función catalítica.</strong>
				<p>Verdadero. La presencia de determinados iones activa reacciones bioquímicas asociándose a las enzimas
			</li>
			<li>
				<strong>Las sales solubles sólo se encuentran en células con función de sostén.</strong>
				<p>Falso. Todas las células y organismos precisan de sales minerales para mantener el equilibrio homeostático.
			</li>
			<li>
				<strong>Las sales minerales son moléculas inorgánicas que se ionizan en medio acuoso.</strong>
				<p>Verdadero. El carácter polar del agua disminuye las atracciones entre los iones de las sales, facilitando su disociación en forma de cationes y aniones.
			</li>
		</ul>
	</li>

	<!-- 10 -->
	<li>
		<strong>El "salado" de algunos alimentos es una técnica de conservación. ¿En qué se basa?</strong>
		<p>La sal remueve el agua de las células por ósmosis, haciendo que el agua intente de igualar la salinidad o concentración de sal en ambos lados de las membranas celulares. Si se agrega suficiente sal, el organismo no podrá mantenerse vivo o reproducirse por la gran cantidad de agua removida.
		<p>Los organismos que descomponen la comida y causan enfermedades se mueren en altas concentraciones de sal. Al absorber el agua, el ambiente se seca mucho para soportar hongos, bacterias u otros patógenos dañinos.
	</li>

	<!-- 11 -->
	<li>
		<strong>Explica razonadamente los datos de la siguiente tabla, en la que se expresa el porcentaje de agua en peso en distintas edades. ¿Podrías hacer una relación con la actividad metabólica?</strong>

		<table>
			<thead>
				<tr>
					<td>Estado de desarrollo</td>
					<td>% de agua en peso</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Feto humano de tres meses</td>
					<td>94%</td>
				</tr>
				<tr>
					<td>Recién nacido</td>
					<td>70%</td>
				</tr>
				<tr>
					<td>Adulto de 25 años</td>
					<td>65%</td>
				</tr>
				<tr>
					<td>Adulto de 65 años</td>
					<td>56%</td>
				</tr>
			</tbody>
		</table>

		<p>más actividad metabólica = más agua?
	</li>

	<!-- 12 -->
	<li>
		<strong>Resuelve las siguientes cuestiones:</strong>
		<ul>
			<li>
				<strong>Cuando se cuece un huevo en agua es frecuente que estalle. Para evitarlo, se suele echar sal al agua de cocción. Explica este hecho</strong>
				<p>Adicionar sal al agua hace que el huevo entre en un medio hipertónico, y por ende con mayor densidad. En la estructura de la cáscara hay poros que dejarían salir agua para igualar la densidad del huevo con la del medio buscando un equilibrio. Al salir esta agua del huevo, la cámara de aire que tiene este entre la cáscara y la clara se deshincha haciendo más difícil que estalle.
			</li>
			<li>
				<strong>¿Qué ocurriría si introducimos un pez marino en agua dulce? ¿Y qué pasa con un pez de agua dulce en el mar? Explica.</strong>
				<p>Un pez de agua dulce se muere en agua de mar, y uno de agua de mar se muere en agua dulce. No están adaptados para las condiciones y fallan al no poder regular su presión osmótica.
				<p>En el caso de los peces de agua dulce, el agua de su cuerpo intentaría salir para compensar por la alta salinidad del agua de mar, matandolos por deshidratación. Los peces acostumbrados a aguas saladas se verían hiperhidratados, y con un exceso de agua en sus células, estas se hinchan y rompen (citólisis), llevando también a la muerte.
			</li>
			<li>
				<strong>Las plantas poseen órganos para tomar del medio el agua que necesitan. Sus raíces presentan los llamados pelos absorbentes, desprovistos de súber para facilitar la permeabilidad. Explica el proceso de entrada de agua en las raíces</strong>
				<p>Las plantas poseen la capacidad de absorber agua de la tierra y subirla en contra de la gravedad a decenas de metros, como sucede en los árboles. La succión se realiza por un proceso de ósmosis: como las raíces tienen una mayor concentración de sales que la tierra, el agua pasa a su interior para igualar la concentración de sal dentro y fuera. Además, la raíz está cubierta de pelillos que aumentan la superficie de contacto con el líquido. La transpiración es una ayuda adicional.
				<p>En los vegetales, el agua circula a través de un sistema de células interconectadas. Cuando se evaporan gotas por los estomas de las hojas, se reduce la presión en estas células, que así atraen el agua de sus vecinas. La perturbación se propaga por todo el circuito y causa una presión negativa interna que llega a las raíces y tira de las moléculas de agua que las rodean.
			</li>
		</ul>
	</li>
</ol>

<h3>Referencias</h3>
<ul id="refs">
	<li>
		<p>Eduardo García Flores (s.f.) <cite>Los Bioelementos básicos de la vida</cite></p>
		<small><a href="https://www.uaeh.edu.mx/scige/boletin/prepa2/n2/e2.html">www.uaeh.edu.mx</a> (recuperado mar/2020)</small>
	</li>

	<li>
		<p>Raquel Parada Puig (07 nov, 2019) <cite>Bioelementos: clasificación (primarios y secundarios)</cite></p>
		<small><a href="https://www.lifeder.com/bioelementos/">www.lifeder.com</a> (recuperado mar/2020)</small>
	</li>

	<li>
		<p>Ivan Vitoria Miñana (pág. 331-333) (2015) <cite>Vitaminas y oligoelementos</cite> en revista <cite>Pediatr Integral vol. 19 n° 5</cite></p>
		<small><a href="https://repositorio.comillas.edu/xmlui/bitstream/handle/11531/10560/Menor%20y%20capacidad%20Pediatr%C3%ADa%20Integral.pdf?sequence=1&isAllowed=y">Revista en comillas.edu</a> (recuperado mar/2020)</small>
	</li>

	<li>
		<p>Theodore Gray (s.f.) <cite>Abundance in Humans for all the elements in the Periodic Table</cite></p>
		<small><a href="https://periodictable.com/Properties/A/HumanAbundance.html">periodictable.com</a> (recuperado mar/2020)</small>
	</li>

	<li>
		<p>Anne marie Helmenstine (08 sep, 2019) <cite>How Does Salt Preserve Food?</cite></p>
		<small><a href="https://www.thoughtco.com/why-does-salt-work-as-preservative-607428">www.thoughtco.com</a> (recuperado mar/2020)</small>
	</li>

	<li>
		<p>Nathan Adams (8 may, 2019) <cite>What happens to a freshwater fish when it's put in saltwater?</cite></p>
		<small><a href="https://www.quora.com/What-happens-to-a-freshwater-fish-when-its-put-in-saltwater">quora.com</a> (recuperado mar/2020)</small>
	</li>
</ul>


<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
