<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>Especies en evolución</h1>
<p>Cuestionario del documental Especies en evolución: "Una producción del museo nacional de historia natural de parís, en conjunto con otras instituciones, que muestra de manera bastante gráfica el gran árbol de la vida, el proceso de clasificación de los seres vivos y las diversas correlaciones que unen al hombre con cada especie en el planeta."</p>
<p><a href="https://www.youtube.com/watch?v=cpyQRzx5exg">YouTube: Espèces d'espèces - [doblada al español]</a>

<ol id="q">
	<li>
		<!-- 1 -->
		<strong>¿En qué se pueden basar los sistemas de clasificación de los seres vivos?</strong>
		<p>Se pueden basan en categorizar por criterios a diferentes seres vivos. Hace mucho tiempo, afectado por la cultura, se clasificaban por cosas triviales como "pertenecientes al emperador", "embalsamados", "domesticados", "sirenas", "fabulosos"... luego por cosas más racionales, como "bípedos", "cuadrupedos" o "con alas", pero las discontinuidades o rupturas bajo esta clasificación llevó a la creación del árbol genealógico, donde ya no se preocupaba de buscar afinidades entre especies, si no que la sistemática ahora busca descubrir su pasada historia evolutiva para reconstruir el árbol genealógico común, donde toda especie y categoría era una rama de otra, hasta llegar al tronco, un ancestral común.
		<p>Actualmente el sistema de taxonomía considera a dos organismos pertenecientes a la misma especie si es que se pueden reproducir eficazmente y dejar descendencia fértil.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Por qué el árbol genealógico actual se representa mejor como un matorral esférico?</strong>
		<p>El problema con el diseño del árbol genealógico basado en un castaño era en la dirección de dónde se posicionan las categorías de las especies, porque no había ningún orden ni justificación objetiva. La base del árbol posiciona a las especies más primitivas y en la parte superior los homo sapiens, pero nada de esto tiene respaldo lógico.
		<p>La clasificación actual abandona la idea del árbol y adopta la forma de un matorral esférico, un "árbol sin tronco", sin base, que se extiende por igual en todos los sentidos. Esta representación plantea que las ramas que han dejado de crecer son especies desaparecidas, y las que alcanzan la periferia son las especies que viven actualmente. Aquí el humano deja de estar catalogado como algo superior en la cima de un árbol, y ahora está en la rama que le corresponde, al igual que todo el resto de los seres vivos actuales.
		<p>El beneficio de esta representación en forma de bola es que permite ver las relaciones hacia el pasado con otras especies. Por ejemplo, al seguir la rama del hombre hacia el centro del matorral, se llega a un punto en común con la bifurcación que llega al chimpancé de hoy en día. Más atrás están los monos con cola, y mucho más atrás, en el centro de la esfera, se llega a los eucariota. Seguir la fuente de las ramas permite llegar al ancestro común de cualquier ser.
	</li>

	<!-- 3 -->
	<li>
		<strong>¿Podrías indicar cada bifurcación principal del <em>Homo sapiens</em> con las otras especies y las características que comparten?</strong>
		<p>La divergencia del homo sapiens con respecto al resto de los hominidos no está bien establecida. Si bien conocemos las diferentes especies que existían antes que nosotros gracias a la arqueología, no conocemos la totalidad de las características que nos diferencian, y los rangos de tiempo son más bien estimaciones. La evolución es un proceso gradual que toma muchísimos años, y no un cambio inmediato desde una cosa a otra.
		<p>A pesar de esto, hay diferencias entre las especies del geno <em>homo</em>. Se han encontrado fósiles que evidencian un ancestro común desconocido que mostraba características de bípedo (Sahelanthropus o Orrorin) que dió lugar al primer bípedo completo, Ardiphitecus, que a su vez evolucionó formando el geno <em>homo</em>.
		<p>Respecto a <em>homo</em>, hay cambios tanto físicos como sociales, esparcidos gradualmente entre las diferentes especies del geno. Cambios físicos incluyen cráneo de diferente tamaño, diferentes tipos de sistemas dentales, elongación de piernas versus los brazos, reposicionamiento de huesos en las manos (para agarre preciso) y la reducción de la zona de la pélvis. Un cambio concreto que dió lugar al <em>homo habilis</em> fue el desarrollo de un cerebro más grande que el de sus antecesores, pero más allá de este, se sugiere que los cambios entre subsiguientes especies son sólo sociales y de comportamiento, gradualmente llegando al <em>homo</em> moderno.
	</li>

	<!-- 4 -->
	<li>
		<strong>Explica qué significa el acrónimo LUCA y si fue el primer ser vivo.</strong>
		<p>El acrónimo viene del inglés "Last Universal Common Ancestor", traducido como el último ancestro universal común, quien se cree era el organismo ancestral del que toda la vida desciende.
		<p>El problema con esta teoría es que el organismo ciertamente tiene las cualidades de todos los seres vivos que conocemos en todo el planeta, pero nada determina que fue el único y primer organismo del que todos venimos. No existe evidencia fósil, pero si existe suficiente evidencia en todos los genomas de todos los organismos vivos de hoy en día, que apuntan a que este fue nuestro antecesor común. Con esta evidencia genética también sabemos que LUCA fue un complejo organismo con muchas funciones, incluyendo transcripción y traducción para convertir entre ADN, ARN y proteínas, pero esto también significa que la elevada complejidad hace poco probable de que haya sido el primer ser vivo. Se cree que fue no el primero, si no que uno de los primeros y el único que sobrevivió y evolucionó, alrededor de hace 4.28 mil millones de años.

	</li>

	<!-- 5 -->
	<li>
		<strong>¿La especie humana es más evolucionada que una bacteria?</strong>
		<p>No se puede determinar en una variable cuantificable la “evolución". Si consideramos la evolución como el tiempo que llevamos evolucionando, entonces tanto las bacterias y los humanos son iguales, ya que ambos estamos vivos hoy en día, durante los últimos 3.8 mil millones de años.
		<p>Si consideramos la evolución como el número de generaciones que se han adaptado al medio a lo largo de la existencia, entonces las bacterias son más evolucionadas.
		<p>No hay una definición concreta para la métrica de "evolución", por lo que podría medirse cualquier cosa. Si fuera por quien tiene pulmones, entonces nosotros somos más evolucionados.
	</li>

	<!-- 6 -->
	<li>
		<strong>¿Qué tiene de especial la especie humana?</strong>
		<p>Es un primate caracterizado por su permanente posición vertical y es la única especie que se ha propuesto ordenar y catalogar el mundo viviente.
	</li>
</ol>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
