<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>Los 100 Grandes Descubrimientos: Biología</h1>
<p>Cuestionario del capítulo "Biología" del documental "100 Greatest Discoveries" narrado por Bill Nye.</p>
<p><a href="https://www.youtube.com/watch?v=XzEvK6KNivc">YouTube: HDTV Discovery 100 Greatest Discoveries 2of9 Biology</a></p>

<ol id="q">
	<li>
		<!-- 1 -->
		<strong>Haz el listado de los 13 descubrimientos científicos de importancia en biología que se indican en el video.</strong>
		<p><strong>Microorganismos (1674)</strong>: Antonie van Leeuwenhoek observó seres vivos utilizando microscopios de diseño propio. Destruyó la idea de que la vida aparecía espontáneamente a partir de sustancias muertas.
		<p><strong>Núcleo celular (1831)</strong>: Antonie van Leeuwenhoek observó un hueco en eritrocitos de salmón, lo que llevó a que años después Franz Bauer y Robert Brown los investigaran y describieran con más detalle en 1831.
		<p><strong>Arqueas (1977)</strong>: Carl Woese y George E. Fox clasificaron a estas como un superreino separado de las bacterias, altamente resistentes.
		<p><strong>División celular (1879)</strong>: Flemming notó que células de salamandra de fuego pasaban de “descanso” a una actividad frenética que convertía en un núcleo en dos y separaba la célula para formar dos: lo que hoy en día se llama mitosis.
		<p><strong>Células sexuales (1884)</strong>: August Weismann identificó que las células sexuales se dividen de manera diferente, que denominó meiosis.
		<p><strong>Diferenciación celular (final del siglo 19)</strong>: Varios científicos participan en el descubrimiento de la diferenciación celular, llevandolos a la aislamiento de las celulas madre embrionicas humanas.
		<p><strong>Mitocondria (final del siglo 19)</strong>: su descubrimiento fue un gran trabajo colectivo. N. H. Cowdry sintetizó, sistematizó y unificó los resultados y términos. Se observaron por primera vez por Kolliker, quien vió unos gránulos en células de insectos entre 1880 y 1888.
		<p><strong>Ciclo de Krebs (1937)</strong>: Hans Krebs identifica los pasos que la célula necesita para convertir azúcar, grasas y proteínas en energía.
		<p><strong>Neurotransmisión (final del siglo 19 a inicios del siglo 20)</strong>: En 1921, Otto Loewi aisló la acetilcolina luego de experimentos de Henry Dale que daban a sospechar que las señales de una célula nerviosa a otra era a través de químicos o señales eléctricas.
		<p><strong>Hormonas (1903)</strong>: William H. Bayliss y Ernest H. Starling nombran diferentes hormonas y sus funciones como mensajeros químicos.
		<p><strong>Fotosíntesis (1770s)</strong>: Jan Ingenhousz descubre la reacción diferente de las plantas a la luz solar versus la sombra.
		<p><strong>Ecosistemas (1935)</strong>: Arthur George Tansley acuña el término ecosistema, uniendo la biología y ecología con la física, química y otros campos de la ciencia que describen un medio ambiente.
		<p><strong>Biodiversidad tropical (siglo 15 al presente)</strong>: Los primeros exploradores europeos notaron la superior variedad de especies en trópicos.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Qué descubrimiento fue el que hizo más famoso a Anton Van Leeuwenhoek?</strong>
		<p>La observación y descubrimiento de microorganismos con microscopios que él mismo creó. Primero observó protozoos en agua, luego bacterias y esperma.
	</li>

	<!-- 3 -->
	<li>
		<strong>¿Qué hace diferente a una célula sexual del resto de células somáticas?</strong>
		<p>Las células somáticas son aquellas que forman nuestro cuerpo, proviniendo de una célula dividida por mitosis en dos células idénticas. Tienen la capacidad de formar tejidos, órganos y sistemas de un organismo, mientras que las células sexuales tienen sólo la función de original la próxima generación, mezclandose con células del sexo opuesto para formar un número diploide de cromosomas.
	</li>

	<!-- 4 -->
	<li>
		<strong>¿Qué es el proceso de diferenciación?</strong>
		<p>La diferenciación celular es el proceso por el que una célula se especializa, adquiriendo capacidad de desarrollar ciertas funciones y dejando de desarrollar otras. Una célula especializada o diferenciada generalmente no puede dar lugar a otros tipos celulares, mientras que una célula no diferenciada, que se denomina pluripotente, puede dar lugar a muchos tipos celulares. Las "células madre" son un ejemplo de este ultimo tipo, mientras que por ejemplo, las neuronas son de las células más diferenciadas que se conocen.
		<p>La diferenciación celular se desarrolla fundamentalmente gracias a cambios controlados en el programa transcripcional; es decir, cambios coordinados en la expresión génica. Estos cambios se producen como consecuencia de la acción de complejas redes de regulación transcripcional. Además, la diferenciación se fija a nivel epigenético. Es decir, las proteínas sobre las que se empaqueta el ADN (histonas y otras) sufren modificaciones químicas que hacen que determinados genes dejen de expresarse de forma permanente en determinada célula (es decir, hasta su muerte), otros puedan continuar expresándose, y otros comiencen a expresarse. Generalmente, sin embargo, pocos genes están completamente inactivos en células no diferenciadas; a medida que éstas se diferencian, la inactivación permanente de grupos de genes predomina sobre la activación.
	</li>

	<!-- 5 -->
	<li>
		<strong>¿Cómo fue que Henry Dale se dio cuenta que la conexión nerviosa entre neuronas era química y no eléctrica?</strong>
		<p>En 1913 experimentos con acetilcolina mostraron que inyecciones intravenosa inhiben el rápido latido de corazón de un gato. A través de estudios más detallados, demostró que esta sustancia purificada mostraba el mismo efecto estimulante en los nervios que la noradrenalina, aunque Dale no estaba seguro y no sugirió que la acetilcolina era un neurotransmisor. En 1921, Dale y colegas elaboraron una serie de experimentos que demostraron que una sustancia denominada “Vagusstoff” por Otto Loewi, que simulaba estimulación del nervio vago, era efectivamente el químico acetilcolina. Alrededor de 1936 Dale y colegas confirmaron que los neurotransmisores eran secretados en todas las sinapsis periféricas, por lo que había evidencia persuasiva de que el sistema nervioso funcionaba con intercambios químicos, lo que lo llevó a ganar un premio nobel.
	</li>
</ol>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
