<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<h1>Talleres de <abbr title="organización estructural de la célula">biología</abbr></h1>
<p>Cuestionarios evaluados de biología, Universidad de Talca, 2019.</p>
<p>Los talleres son cuestionarios generales de biología, mientras que los autónomos son pequeños cuestionarios sobre una lectura o video dado por el profesor.</p>

<h3>Talleres</h3>
<ul>
	<li><a href="taxonomia.html">Clasificación de los seres vivos</a></li>
	<li><a href="metodo-cientifico.html">El método científico</a></li>
	<li><a href="bioelementos.html">Bioelementos</a></li>
</ul>

<h3>Talleres autónomos</h3>
<ul>
	<li><a href="pulgar-del-panda.html">El pulgar del panda (lectura)</a></li>
	<li><a href="especies-en-evolucion.html">Especies en evolución (video)</a></li>
	<li><a href="aprendiendo-el-uso-de-la-fuerza.html">Aprendiendo el uso de la fuerza (lectura)</a></li>
	<li><a href="grandes-descubrimientos-biologia.html">Los 100 grandes descubrimientos: Biología (video)</a></li>
</ul>

<!--
01 Lectura El pulgar del panda
02 Video Especies en evolucion
03 Lectura El río viviente
04 Lectura Todos somos zurdos
05 Elemental mi querido Watson
06 Quien dijo que esta canal no sirve pa Na.
07 Aprendiendo el uso de la fuerza
08 Un problema movido
09 La Bacteria Rebelde
10 Cuando el corazon sufre por un... reticulo
11 Red Bull, te da alas...
12 El drama de morir viejo a los 17
13 Tribulaciones de un vampiro del siglo XXI
14 Video Viaje al interior de la celula
15 Video Grandes Descubrimientos en Biología
16 El concepto de Genetica
17 La Fibrosis Cistica
18 Vampirismo y Porfirias
--->

<p><small>Las referencias estan (muy) desordenadas, pero mantuve el mismo formato de <i>autor (año) fuente.</i>.</small></p>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
