<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>El método científico</h1>

<ol id="q">
	<!-- 1 -->
	<li>
		<strong>Define método científico</strong>
		<p>El método científico es un proceso de experimentación usado para investigar fenómenos, resolver preguntas e indagar en observaciones. Consiste de una serie de pasos iterativos: tener una hipótesis, probarla con un experimento y derivar conclusiones.
		<p>Los principios del método científico se basan en formular una hipótesis basada en observaciones o un problema al cual se enfrente, experimentar usando deducciones derivadas de la hipótesis y medir resultados, y refinar o eliminar la hipótesis inicial apoyándose en los encuentros del experimento. Esto hace que sea fáctico y analítico.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Cuáles son los pasos del método científico?</strong>
		<p>Todo el proceso del método científico revuelve en conjeturas de una hipótesis, derivando predicciones por consecuencias lógicas, y luego experimentando en estas predicciones para determinar si la conjetura inicial estaba correcta. A pesar de que el método científico se explica con pasos, es mejor definirlos como principios generales de un proceso.
		<p><strong>Formular una pregunta</strong>: El primer paso del método científico es desear buscar una explicación a una observación (<i>"¿Por qué las hojas son verdes?"</i>) o una pregunta abierta (<i>"¿Cómo puedo diseñar un puente?"</i>).
		<p><strong>Crear una hipótesis</strong>: Una hipótesis es una posible respuesta a la pregunta, o coloquialmente <i>una adivinanza educada de cómo algo puede funcionar</i>. Una hipótesis incorrecta es subjetiva (<i>"Las hojas son verdes porque es mejor que el morado"</i>), mientras que una correcta permite experimentar en esta para verificarla o rechazarla (<i>"Las hojas son verdes porque deben tener algún pigmento"</i>). La hipótesis a menudo acarrea el conocimiento de quién la crea, es decir, se basa en evidencia de previos experimentos, previas experiencias u observaciones o resultados tanto personales como ajenos.
		<p><strong>Predicción</strong>: Una buena hipótesis permite hacer una predicción. Este paso busca determinar las consecuencias lógicas de la hipótesis (<i>"Si las hojas llevan pigmento, entonces puedo verificarlo con un microscopio")</i>.
		<p><strong>Experimentar</strong>: Se debe diseñar y llevar a cabo un experimento que pruebe la hipótesis. El propósito es determinar si el mundo real se comporta según la predicción de la hipótesis, si las observaciones o resultados aceptan o discrepan con la hipótesis. Un experimento que apoye una predicción no significa que la hipótesis es verdad.
		<p><strong>Análisis</strong>: Usando los resultados del experimento, se determina la acción a seguir. Si la evidencia refuta la hipótesis, se debe crear una nueva hipótesis y repetir el proceso, usando la información recopilada para formular nuevas preguntas. Una vez una hipótesis es fuertemente soportada por numerosos experimentos, verificado por multiples personas, se puede considerar una teoría. Normalmente se requieren multiples iteraciones con diferentes propuestas para llegar a una conclusión.
		<p>Las conclusiones y aprendizajes son mejores aprovechadas si se comunican y comparten con otros. Por lo general, algo debe ser probado independientemente por diferentes personas para ser aceptado por la comunidad científica (<i>peer review</i>).
	</li>

	<!-- 3 -->
	<li>
		<strong>Analiza las siguientes acciones y escribe a que paso del método científico corresponden:</strong>
		<p>reúne información: análisis<br>
		manejar instrumentos: experimento<br>
		percibir el problema con los sentidos: observación<br>
		dar el enunciado del fenómeno observado: hipótesis<br>
		dar explicaciones posibles: predicción<br>
		</p>
	</li>

	<!-- 4 -->
	<li>
		<strong>Indica las diferencias entre el método experimental deductivo y el inductivo</strong>
		<p>El método inductivo busca respuestas desde una observación particular hacia lo general, mientras que el deductivo intenta de razonar respuestas sobre algo particular en base a leyes o teorías generales.

		<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Método deductivo</th>
				<th>Método inductivo</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Definición</td>
				<td>Razona en base a leyes o teorías generales para buscar explicaciones de casos particulares.</td>
				<td>En base a observaciones particulares, busca razonar para producir conclusiones generales.</td>
			</tr>
			<tr>
				<td>Características</td>
				<td>
					<ul>
						<li>Concluye a partir de generalizaciones</li>
						<li>Usado cuando no se pueden observar las causas de un fenómeno</li>
						<li>Depende de conocimiento previo para verificar o crear nuevo conocimiento</li>
						<li>Va desde lo general hacia lo particular</li>
						<li>Las conclusiones son rigurosas</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Se basa en la observación de fenómenos</li>
						<li>Generaliza a partir de observaciones, es decir, va desde lo particular hacia lo general</li>
						<li>Está limitado a observar hechos</li>
						<li>Las conclusiones son probables y pueden ser erróneas</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Usos</td>
				<td>Matemática, lógica</td>
				<td>Uso general en ciencia</td>
			</tr>
		</tbody>
		</table>
	</li>

	<!-- 5 -->
	<!--<li>
		<strong>¿Qué es ciencia y qué es pseudociencia? ¿Quién lo decide?</strong>
		<p>
	</li>-->
</ol>

<h3>Referencias</h3>
<ul id="refs">
	<li id="taller02-ref01">
		<p>Ever Arrieta. (s.f.) <cite>Método inductivo y deductivo - Diferenciador</cite></p>
		<small><a href="https://www.diferenciador.com/diferencia-entre-metodo-inductivo-y-deductivo/">www.diferenciador.com</a> (recuperado feb/2020)</small>
	</li>
</ul>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
