<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>El pulgar del panda</h1>
<p>Cuestionario del texto "El pulgar del panda" de Stephen Jay Gould.</p>

<ol id="q">
	<li>
		<!-- 1 -->
		<strong>¿Por qué la autofertilización continuada es una mala estrategia?</strong>
		<p>Es mala a largo plazo porque la descendencia sólo lleva los genes de un solo <em>padre</em>, afectando a la evolución y adaptación al medio de la especie, porque no existirá una variación en las características del nuevo individuo.
	</li>

	<!-- 2 -->
	<li>
		<strong>¿Se puede considerar al "pulgar" del panda como un nuevo dedo? Explica.</strong>
		<p>No, porque no corresponde anatómicamente a un dedo. Es un hueso (sesamoide radial) enormemente agrandado y alargado, dandole un aspecto smiliar al de un dedo, pero pertenece a la muñeca. Es una parte de su anatomía que fue remodelada para una nueva función.
	</li>

	<!-- 3 -->
	<li>
		<strong>¿Por qué el "pulgar" del panda no es un diseño perfecto?</strong>
		<p>Puede ser porque es un ajuste provisorio usando las piezas limitadas ya existentes para "parchar" y cubrir una necesidad. Cabe destacar que "perfección" es un término inútil en el contexto de evolución, ya que esta es sólo el proceso por el cual los organismos se adaptan:
		<p><blockquote>"[...] el diseño ideal es un argumento pésimo en favor de la evolución, ya que imita la acción de un creador omnipotente. Las disposiciones extrañas y las soluciones singulares constituyen la verdadera prueba de la evolución, caminos que un dios sensato jamás hubiera adoptado, pero que un proceso natural, constreñido por la historia, se ve obligado a seguir"</blockquote>
	</li>
</ol>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
