body {
	font-size: 1.1em;
	line-height: 1.6;
	margin: 0 auto;
	padding: 1em 1.8em;
	max-width: 800px;

	background: #eceff4;
	color: #2e3440;
	text-shadow: 0 1px 0 #fff;
	font-family: -apple-system, Roboto, "Helvetica Neue", Montserrat, Helvetica, sans-serif;
}

@media print {
	body {
		background: white;
		text-shadow: none !important;
	}
}

#q { padding: 0; }
#refs p { margin: 0; }
#q, #refs, #notes { text-align: justify; }

#q li li strong + p {
	margin-top: 0;
}

table {
	border-top: 2px solid #2e3440;
	border-bottom: 2px solid #2e3440;
	border-collapse: collapse;
	margin: 0.5em auto;
}

table thead {
	border-bottom: 1px solid #2e3440;
}

table td {
	padding: .6em .4em;
	vertical-align: baseline;
}

table.compact tbody td {
	padding: .2em .4em;
}

table.numeric tbody td {
	font-family: monospace;
	font-size: inherit;
}

blockquote {
	border-left: 0.5em solid rgba(0, 0, 0, 0.2);
	padding-left: 1em;
	margin: 0;
}