<meta charset="utf-8">
<title>Taller</title>
<link href="style.css" rel="stylesheet">
<p><a href="index.html">Volver al índice</a>

<h1>Clasificación de los seres vivos</h1>
<ol id="q">
	<li>
		<!-- 1 -->
		<strong>Proponga un experimento que prueben la falsabilidad de la teoría de la generación espontánea. <sup><a href="#taller01-ref01-a">[1]</a></sup></strong>
		<p>Se pueden replicar tres exprimentos por Francesco Redi, Lazzaro Spallanzani o Louis Pasteur. Este último terminó de rebatir la idea de la generación espontánea.
		<p>El experimento de Redi (1665) busca verificar que las moscas no aparecen de forma espontánea en un trozo de carne. Así, usó un frasco abierto y dos sellados. De estos, sólo el frasco abierto tuvo moscas y gusanos. Concluyó que las moscas sólo aparecen en donde previamente hubo moscas.
		<p>Lazzaro Spallanzani (1769) repitió con mayor precaución un experimento de John Turberville Needham, quien había hervido caldo de pollo en base a que esto mataría microorganismos, pero de igual forma se encontraron en el caldo. Spallanzani prolongó el tiempo de calentamiento y selló herméticamente los recipientes, demostrando que los caldos no generaban microorganismos mientras hayan sido esterilizados y se mantengan herméticamente cerrados.
		<p>En 1859, Louis Pasteur puso cantidades iguales de caldo de carne en frascos <i>cuello de cisne</i> (vidrio en forma de S) y los hizo hervir. La forma especial del cuello del frasco permitió que el caldo no esté expuesto, pero aún mantenga un flujo de aire. El caldo se mantuvo intacto por un largo periodo de tiempo, hasta que el frasco fue rotado de tal forma que el caldo estuviese directamente expuesto al aire, y rápidamente se nubló y descompuso.
		</div>
	</li>
</ul>
	<li>
		<!-- 2 -->
		<strong>Indica que paso de importancia en la teoría de la abiogénesis aún no ha sido posible de determinar cómo ocurrió. <sup><a href="#taller01-ref02-a">[2]</a></sup></strong>
		<p>El paso desconocido es cómo se juntaron las primeras moléculas para formar las primeras células procariontas. En 1924, Alexander Oparin explicó que la tierra temperana era rica en amoniaco, dióxido de carbono, hidrógeno y carbón, con un ambiente lleno de rayos ultravioleta y tormentas eléctricas. Se asumió que la cadena de reacciones sería la siguiente: electricidad golpea la atmósfera rica en elementos, reaccionando y formando aminoácidos, estos forman polipéptidos y luego de alguna manera se forman proteínas que se pueden replicar a si mismas.
		<p>En 1952, Stanley Miller y Harold Urey probaron la idea y demostraron que sí es posible hacer moléculas orgánicas simulando las condiciones de la tierra temprana. A pesar de que se sabe que se pueden formar azúcares, aminoácidos, aldehídos y otras moléculas orgánicas, no se sabe cómo se juntaron para formar vida.
	</li>

	<li>
		<strong>Describe brevemente la hipótesis del mundo RNA. <sup><a href="#taller01-nota01">(nota 1)</a></sup></strong>
		<p>Esta hipótesis explica que el ARN, pudiendo almacenar información genética y funcionar como catalizador, era el encargado de la auto-replicación y evolucionó una capa protectora conocida como membrana celular, formando una célula procariota.
	</li>

	<li>
		<strong>¿Qué probables características tenían los primeros seres vivos?</strong>
		<p>Los primeros seres vivos eran microorganismos procariotas muy simples, pero suficientemente complejos para reproducirse. Usaban ARN como material genético, ATP para energía y producían proteínas.
	</li>

	<li>
		<!-- 5 -->
		<strong>¿Cómo apareció el oxígeno en el planeta? ¿Cuál fue la importancia de la formación de la capa de ozono? <sup><a href="#taller01-ref05-a">[5]</a></sup> <sup><a href="#taller01-nota02">(nota 2)</a></sup></strong>
		<p>La teoría más aceptada es que cianobacterias produjeron enormes cantidades de oxígeno por fotosíntesis. El nivel de oxígeno fluctuó al reaccionar con hierro, sulfuro y carbón, pero eventualmente inundó la atmosfera y oxigenó el océano hace aprox. 2.7 a 2.4 mil millones de años en un evento conocido como <i>Gran Oxidación</i>.
		<p>Respecto a la capa de ozono, el exceso de oxígeno mezclado con la radiación ultravioleta del sol causa que las moléculas de oxígeno (O<sub>2</sub>) se rompan y produzcan dos átomos de oxígeno (2 O), quienes se combinan con una molécula de oxígeno (O<sub>2</sub>) para formar ozono (O<sub>3</sub>). Esta capa es responsable de absorver la luz ultravioleta del sol, que de lo contrario sería dañina para la vida en la superficie.
	</li>

	<li>
		<!-- 6 -->
		<strong>Indica dos evidencias de la teoría de la panspermia <sup><a href="#taller01-ref06-a">[6a]</a> <a href="#taller01-ref06-b">[6b]</a> <a href="#taller01-ref06-c">[6c]</a></sup></strong>
		<p>La panspermia es una idea que dice que la vida origina fuera del planeta y viaja a través de meteoritos como semillas.
		<p>En 1969 cayó un meteorito en Murchison y estudios finalizados en 1972 determinaron la existencia de aminoácidos racémicos, dando un indicio de vida extraterrestre.
		<p>En 1969, el equipo de Apollo 12 recogió piezas de la nave Surveyor 3 para análisis y conocer cómo las afectó la exposición al ambiente extraterrestre. Ya que la nave no había sido esterilizada se hizo énfasis en buscar vida en esta, y se encontraron bacterias steptococcus mitis dentro de una cámara. A pesar de que esto indica que algunos microorganismos pueden sobrevivir en ambientes extremos, esta evidencia se ve en disputa porque se sospecha de que el equipo que recogió la cámara la contaminó, ya que fue transportada en una bolsa plástica junto a ellos en vez de contenedores herméticos.
	</li>

	<li>
		<!-- 7 -->
		<strong>¿De qué sirve clasificar a los seres vivos? <sup><a href="#taller01-ref07-a">[7]</a></sup></strong>
		<p>Permite ordenar y ponerlos en categorías según las características que posea cada organismo. Esto es importante porque permite entender la relación entre varios organismos, y la clasificación puede especificar previas relaciones entre un organismo y sus ancestros. La práctica de clasificarlos se llama taxonomía.
		<p>La jerarquía de las varias categorías taxonómicas indica la similaridad. Mientras más pequeño sea el nivel, mayores son las similitudes entre organismos. Por ejemplo, se usa "especie" para explicar que un grupo de seres relativamente parecidos se puede reproducir entre si y dejar crías fértiles.
	</li>

	<li>
		<!-- 8 -->
		<strong>¿Cómo clasificaban los griegos a los seres vivos? <sup><a href="#taller01-ref08-a">[8]</a></sup></strong>
		<p>La primera persona en ocuparse de clasificar a los seres vivos fue Aristóteles, quien introdujo los dos conceptos usados hasta hoy en día: categorizar organismos por tipo y usar un sistema binomial.
		<p>Aristóteles clasificó a animales en <i>Historia Animalium</i> agrupandolos por aquellos con sangre o sin sangre y quienes viven en agua y los que vienen en tierra. Asumió que la vida era una jerarquía y clasificó al humano en la cima, en vez de guiarse por la evolución. Esto significaba que las especies de diferentes categorías no tenían relación alguna entre sí.
		<p>Otra invención fue el sistema de nombre binomial, que consistía de darle dos nombres a un organismo, el primero siendo algo como familia y el segundo una palabra enfocada en alguna característica única, para diferenciarlo de los otros miembros de esta familia. Por ejemplo, definió al humano como "animal racional".
		<p>Teofrasto clasificó y agrupó diversas espcies de plantas y las grabó en su libro <i>Historia Plantarum</i>, dando el inicio a la botánica. Siguiendo las prácticas de su maestro Aristóteles —aunque abordado de forma más científica—, clasificó a las plantas según su anatomía, propagación (reproducción) y crecimiento, categorizándolas en árbol, arbusto o hierba, teniendo en cuenta sus localidades, tamaños y usos prácticos como comida o medicina.
	</li>

	<li>
		<!-- 9 -->
		<strong>¿Cuáles son las ramas de la biología que se encargan de estudiar la clasificación de los seres vivos?</strong>
		<p>La teoría y práctica encargada de clasificar a seres vivos se denomina taxonomía biológica. Consiste en agrupar a organismos y categorizarlos según sus parecidos y semejanzas.
		<p>Los organismos se ponen en grupos llamados taxones, y cada taxón se pone en otro grupo, formando una jerarquía. Las categorías usadas hoy en día son dominio, reino, filo, clase, orden, familia, género y especie. Por lo general, todas se sub-dividen en aún más categorías como subtipo, división, tribu, superclase, etnia, etc.
	</li>

	<li>
		<strong>¿En qué sustentan su clasificación cada una de estas ramas?</strong>
		<p>ni idea
	</li>


	<li>
		<!-- 11 -->
		<strong>¿En qué consiste el sistema de clasificación binomial?</strong>
		<p>El sistema de clasificación binomial, o nomenclatura binominal, es una práctica usada en taxonomía para darle un nombre (en latín) compuesto de dos partes a seres vivos o extintos. La primera parte, el nombre genérico, indica a que género pertenece una especie, mientras que la segunda parte, el nombre específico, identifica a la especie dentro del género. Por ejemplo, el binomial "tyrannosaurus rex" describe a la especie <i>rex</i> del género <i>tyrannosaurus</i>.
	</li>

	<li>
		<!-- 12 -->
		<strong>¿Qué es una especie?</strong>
		<p>La especie es el grupo de un organismo que puede reproducirse y dejar crías fértiles, generalmente por reproducción sexual. Es la unidad más específica y pequeña de clasificación taxonómica.
	</li>

	<li>
		<!-- 13 -->
		<strong>¿Qué es una raza?</strong>
		<p>La raza es un término que solía usarse para subdividir a especies en base a sus rasgos fenotípicos. Comenzó a usarse a inicios del siglo 16 y en 1905 el Congreso Internacional de Botánica lo eliminó como categoría taxonómica, pero aún es usado coloquialmente en animales domésticos.
	</li>

	<li>
		<!-- 14 -->
		<strong>Nombra los reinos y dominios en que se clasifican los seres vivos.</strong>
		<p>Hay siete reinos en taxonomía: bacteria, archaea, protozoa, chromista, plantae, fungi y animalia. Estos se clasifican en tres dominios: eukarya, arqueas y bacterias. Previamente, estos dos últimos pertenecían al mismo grupo, pero Cavalier-Smith et al. revisaron la clasificación en 2015 y dividieron prokaryota en bacteria y arquea. También se propone clasificar "seres no vivos" como virus o patógenos bajo el dominio *acytota*, pero está bajo debate.
	</li>

	<li>
		<strong>Ordena los distintos taxones de mayor a menor.</strong>
		<p>Reino: Animal<br>
		Tipo: Cordados<br>
		Subtipo: Vertebrados<br>
		Superclase: Tetrápodo<br>
		Clase: Mamífero<br>
		Orden: Carnívoros<br>
		Familia: Félidos<br>
		Género: Felis<br>
		Especie: Felis catus<br>
		</p>
	</li>
</ol>

<h3>Referencias</h3>
<!-- necesito ordenar esto -->
<ul id="refs">
	<li id="taller01-ref01-a">
		<p>Russell Levine, Chris Evers. (s.f.) <cite>The Slow Death of Spontaneous Generation (1668-1859)</cite></p>
		<small><a href="http://webprojects.oit.ncsu.edu/project/bio183de/Black/cellintro/cellintro_reading/Spontaneous_Generation.html">webprojects.oit.ncsu.edu</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref02-a">
		<p>Bert Markgraf. (2016) <cite>Abiogenesis: Definition, Theory, Evidence &amp; Examples § Theoretical Basis for Abiogenesis</cite></p>
		<small><a href="https://sciencing.com/abiogenesis-definition-theory-evidence-examples-13719058.html">sciencing.com</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref05-a">
		<p>Michael Schirber. (02 julio, 2009) <cite>How Earth Got its Oxygen | Live Science</cite></p>
		<small><a href="https://www.livescience.com/5515-earth-oxygen.html">www.livescience.com</a> (recuperado feb/2020)</small>
	</li>
	<li id="ref-5b">
		<p>Michaela I. Hegglin <i>et al</i>. (2015) <cite>Twenty Questions and Answers about the Ozone Layer: 2014 update</cite> (pág. 10-11). World Meteorological Organization.</p>
		<!-- https://www.esrl.noaa.gov/csd/assessments/ozone/2014/twentyquestions2014update.pdf -->
	</li>
	<li id="ref-5c">
		<p>Cyanobacteria</p>
		<small><a href="https://en.wikipedia.org/w/index.php?title=Cyanobacteria&oldid=941035060">en.wikipedia.org</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref06-a">
		<p>Keith Kvenvolden, James Lawless, Katherine Pering, Etta Peterson, Jose Flores, Cyril Ponnamperuma. (1970) <cite>Evidence for Extraterrestrial Amino-acids and Hydrocarbons in the Murchison Meteorite</cite></p>
	</li>
	<li id="taller01-ref06-b">
		<p>James G. Lawless (1973). <cite>Amino acids in the Murchison meteorite</cite></p>
	</li>
	<li id="taller01-ref06-c">
		<p>NASA. (2010) <cite>Surveyor 3 Streptococcus Mitis (APSTREPMIT)</cite></p>
		<small><a href="https://web.archive.org/web/20100619225547/http://lsda.jsc.nasa.gov/scripts/experiment/exper.cfm?exp_index=1651">nasa.gov en archive.org</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref07-a">
		<p>Adam Purcell. (2018) <cite>Taxonomy | Basic Biology</cite></p>
		<small><a href="https://basicbiology.net/biology-101/taxonomy">basicbiology.net</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref08-a">
		<p>Lois Tilton. (2009) <cite>From Aristotle to Linnaeus: The History of Taxonomy</cite></p>
		<small><a href="https://davesgarden.com/guides/articles/view/2051">davesgarden.com</a> (recuperado feb/2020)</small>
	</li>
	<li id="taller01-ref-a">
		<p>Joshua Lin, MaxW. (2015) <cite>What property allows ozone to absorb uv light?</cite></p>
		<small><a href="https://chemistry.stackexchange.com/questions/35734/what-property-allows-ozone-to-absorb-uv-light">chemistry.stackexchange.com</a> (recuperado feb/2020)</small>
	</li>
</ul>

<h3>Notas</h3>
<ol id="notes">
	<li id="taller01-nota01">No estoy seguro si el ARN como tal es la causa u origen de la membrana.</li>
	<li id="taller01-nota02">Más detalles sobre cómo estamos protegidos de la radiación ultravioleta: de acuerdo con <i>MaxW</i> en <a href="https://chemistry.stackexchange.com/a/39998">chemistry.stackexchange.com</a>, la luz ultravioleta entre 100 a 240 nm tiene suficiente energía para excitar un electrón de una molécula de oxígeno creando una molécula inestable que se descompone en dos radicales de oxígeno, quienes se combinan con otras moléculas de oxígeno para hacer más moléculas de ozono. En cuanto al ozono, la luz ultravioleta entre 240 a 350 nm tiene tanta energía para desestabilizar una molécula de ozono, quien se descompone en un radical de oxígeno y una molécula de oxígeno. Así, la energía de la radiación ultravioleta es absorvida en reacciones químicas.</li>
</ol>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
